@page "/content-editor"

<h3>ContentEditor</h3>

<DryContent Content="@content" />

@code {

  ContentLayout content = new ContentLayout {
    Sections = {
      new ContentSection {
        Layout = SectionLayout.DoubleWeightedLeft,
        Theme = ContentTheme.Light,
        Containers = {
          new ContentContainer {
            Html = "Hello Razor",
          },
          new ContentContainer {
            Html = "Hello Blazor",
            Alignment = ContentAlignment.MiddleCenter,
          },
        }
      },
      new ContentSection {
        Layout = SectionLayout.DoubleWeightedRight,
        Theme = ContentTheme.Dark,
        Containers = {
          new ContentContainer {
            Html = "Hello Razor",
          },
          new ContentContainer {
            Html = "Hello Blazor",
            Alignment = ContentAlignment.BottomCenter,
          },
        }
      },
      new ContentSection {
        Layout = SectionLayout.Single,
        Containers = {
          new ContentContainer {
            Html = "Hello Razor",
          },
        }
      },
    }
  };

}
