@page "/admin/works/contents/list"
@inject IListService<Content> ListService;
@inject NavigationManager Navigation;

<h2>Contents</h2>

<CommandBar ViewModel="@this" />

<DryTable TItem="Content" ViewModel="@this" ItemsService="@ListService" />

@code {

    [Command(CommandContext.Alternate, Icon = "edit")]
    public void Edit(Content content)
    {
        Console.WriteLine($"Edit {content.Uuid}");
        Navigation.NavigateTo($"/contents/{content.Uuid}");
    }

}
