@page "/admin/works/contents/list"
@using ExtraDry.Core
@inject IListClient<Content> ListService;
@inject NavigationManager Navigation;

<h2>Contents</h2>

<CommandBar Decorator="@this" />

<DryTable TItem="Content" Decorator="@this" ItemsService="@ListService" />

@code {

    [Command(CommandContext.Alternate, Icon = "edit")]
    public void Edit(Content content)
    {
        Console.WriteLine($"Edit {content.Uuid}");
        Navigation.NavigateTo($"/contents/{content.Uuid}");
    }

}
