:root {
  --primary: #FED434;
  --secondary: #5E1508;
  --danger: #D02516;
  --success: #73AF36;
  --info: #00AFE5;
  --warning: #E58D00;
  --primary-light: #fff4cc;
  --secondary-light: #fbd7d0;
  --danger-light: #fdeae8;
  --success-light: #f2f9ec;
  --info-light: #e6f9ff;
  --warning-light: #fff5e6;
  --primary-dark: #665101;
  --secondary-dark: #2f0b04;
  --danger-dark: #5c100a;
  --success-dark: #334e18;
  --info-dark: #004e66;
  --warning-dark: #663f00;
  --white: #FFFFFF;
  --off-white: #f7f7f7;
  --light: #e6e6e6;
  --silver: #cccccc;
  --gray: #999999;
  --dark: #4d4d4d;
  --charcoal: #1a1a1a;
  --black: #0d0d0d;
}

section {
  border-bottom: solid 1px #999999;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
section article {
  display: flex;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  max-width: 1240px;
}
section article ::deep nav {
  margin-bottom: 0;
  background-color: #FFFFFF;
  flex: 0 0 auto;
}
section article ::deep nav ul {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.5s;
  margin-bottom: 0;
}
section article ::deep nav ul li {
  flex: 0 0 auto;
  list-style-type: none;
  padding: 5px;
}
section article ::deep nav ul li a {
  color: #4d4d4d;
  padding: 5px 10px;
  text-decoration: none;
}
section article ::deep nav ul li:hover {
  border-bottom: solid 3px #fff4cc;
  border-radius: 3px 3px 0 0;
  background-color: #f7f7f7;
}
section article ::deep nav ul li.active {
  border-bottom: solid 3px #FED434;
  border-radius: 3px 3px 0 0;
  background-color: #e6e6e6;
}
section article ::deep nav ul li.active:hover {
  background-color: #f7f7f7;
}
section article ::deep nav ul li img {
  display: none;
}
