@import "../wwwroot/css/_constants.scss";

section {
    border-bottom: solid 1px $gray;
    display: flex;
    justify-content: center;
    padding: 0 $margin; 

    article {
        display: flex;
        background-color: $var-white;
        margin: 0;
        padding: 0;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        max-width: $max-article-width;

        ::deep nav {
            margin-bottom: 0;
            background-color: $white;
            flex: 0 1 auto;
            display: flex;

            ul {
                display: flex;
                padding: 0;
                flex-direction: row;
                flex-wrap: nowrap;
                transition: all 0.5s;
                margin-bottom: 0;
                // Force UL to full width of children, JS will change translateX to put within nav window.
                flex: 0 0 auto;

                li {
                    flex: 0 0 auto;
                    list-style-type: none;
                    padding: $padding;

                    a {
                        color: $dark;
                        padding: $margin/2 $margin;
                        text-decoration: none;
                    }

                    &:hover {
                        border-bottom: solid 3px $primary-light;
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $off-white;
                    }

                    &.active {
                        border-bottom: solid 3px $primary;
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $light;

                        &:hover {
                            background-color: $off-white;
                        }
                    }


                    img {
                        display: none;
                    }
                }
            }
        }
    }
}
