@import "../wwwroot/css/_constants.scss";

//
// Styling for DryNavigation when shown on the top of the page on a mobile device.
// This is a horizontal two layer menu style.
//
// Note: This styles into the DryNavigation so CSS Isolation is _not_ used.
//
section {
    border-bottom: solid 1px $gray;

    article {
        display: flex;
        background-color: $var-white;
        margin: 0;
        padding: 0;
        align-items: flex-end;
        justify-content: center;

        ::deep nav {
            margin-bottom: 0;
            overflow: hidden;
            background-color: $white;
            flex: 0 1 $max-article-width+2*$margin;

            ul {
                display: flex;
                padding: 0 $padding;
                flex-direction: row;
                flex-wrap: nowrap;
                transition: all 0.5s;
                margin-bottom: 0;

                li {
                    flex: 0 0 auto;
                    list-style-type: none;
                    padding: $padding;

                    a {
                        color: $dark;
                        padding: $margin/2 $margin;
                        text-decoration: none;
                    }

                    &:hover {
                        border-bottom: solid 3px $primary-light;
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $off-white;
                    }

                    &.active {
                        border-bottom: solid 3px $primary;
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $light;

                        &:hover {
                            background-color: $off-white;
                        }
                    }


                    img {
                        display: none;
                    }
                }
            }
        }
    }
}
