@import "../wwwroot/css/_constants.scss";

section {
    border-bottom: solid 1px $gray;
    display: flex;
    justify-content: center;
    padding: 0 $margin;

    article {
        display: flex;
        background-color: $var-white;
        margin: 0;
        padding: 0;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        max-width: $max-article-width;

        ::deep nav {
            margin-bottom: 0;
            background-color: $white;

            ul {
                padding: 0;
                margin-bottom: 0;

                li {
                    list-style-type: none;
                    padding: $padding;

                    a {
                        color: $dark;
                        padding: 1px $margin;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                    &:hover {
                        border-bottom: solid 3px $primary-light;
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $off-white;
                    }

                    &.active {
                        border-bottom: solid 3px $primary;
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $light;

                        &:hover {
                            background-color: $off-white;
                        }
                    }


                    img {
                        display: none;
                    }
                }
            }
        }
    }
}
