<div class="curtain">
    <div class="dialog">
        @ChildContent
        <div class="controls">
            <DryIcon Key="expand" />
            <DryIcon Key="times" />
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
