@inject NavigationManager Navigation;

<div class="curtain">
    <div class="dialog @CssClass">
        @ChildContent
        <div class="controls">
            @if(FullScreen) {
                <Button Theme="ButtonTheme.Unobtrusive" Icon="windowed" Caption="Collapse to Window" ShowCaption="false" @onclick="@MakeWindow"></Button>
            }
            else {
                <Button Theme="ButtonTheme.Unobtrusive" Icon="fullscreen" Caption="Expand to Full Screen" ShowCaption="false" @onclick="@MakeFullScreen"></Button>
            }
            <Button Theme="ButtonTheme.Unobtrusive" Icon="close-dialog" Caption="Close" ShowCaption="false" @onclick="CloseDialog"></Button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool FullScreen { get; set; }

    [Parameter, EditorRequired]
    public string CloseUrl { get; set; } = string.Empty;

    public string CssClass => FullScreen ? "full" : "window";

    public void CloseDialog()
    {
        Navigation.NavigateTo(CloseUrl);
    }

    public void MakeFullScreen()
    {
        FullScreen = true;
        StateHasChanged();
    }

    public void MakeWindow()
    {
        FullScreen = false;
        StateHasChanged();
    }

}
