@inject NavigationManager Navigation;

<div class="curtain">
    <div class="dialog">
        @ChildContent
        <div class="controls">
            <DryButton IconOnly="true" Command="@CloseDialogCommand" Target="@this"></DryButton>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Command(Icon = "times")]
    public void CloseDialog()
    {
        Navigation.NavigateTo($"/companies");
    }

    public CommandInfo CloseDialogCommand => new(this, CloseDialog);

}
