@import "../wwwroot/css/_constants.scss";

div.curtain {
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;
    height: calc(100% - #{$header-height});
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

    div.dialog {
        position: absolute;
        width: 100%;
        max-width: $max-article-width - 2*$dialog-margin;
        height: 100%;
        background-color: $var-white;
        margin: $dialog-margin;

        div.controls {
            position: absolute;
            right: $margin/2;
            top: $margin/2;
            font-size: 28px;
            display: flex;

            ::deep button {
                color: $var-dark;
                border: none;
                background: none;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $var-primary-light;
                }
            }
        }
    }
}
