<header>
    <article>
        <div class="logo">
            <div class="waffle"><DryIcon Key="ellipsis-v"></DryIcon><DryIcon Key="ellipsis-v"></DryIcon><DryIcon Key="ellipsis-v"></DryIcon></div>
            <img src="/img/logo.svg" />
            <div class="title">Works</div>
        </div>
        <div class="account">
            <DryIcon Key="plus-square"></DryIcon>
            <DryIcon Key="bell"></DryIcon>
            <DryGravatar Email="adrian@akison.com" Size="80" />
        </div>
    </article>
</header>

@code {

}
