header {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  height: 60px;
  margin: 0;
  padding: 10px;
}
header article {
  flex: 0 1 1240px;
  display: flex;
  align-items: center;
}
header article div.logo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
header article div.logo div.waffle {
  display: inline-block;
  margin-right: 5px;
}
header article div.logo div.waffle ::deep i {
  color: var(--secondary);
}
header article div.logo img {
  width: 40px;
  height: 40px;
}
header article div.logo div.title {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  color: var(--secondary);
  margin-left: 5px;
}
header article div.account {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}
header article div.account ::deep i {
  color: var(--secondary);
  margin-right: 5px;
}
header article ::deep img.glyph {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  filter: invert(20%) sepia(94%) saturate(7500%) brightness(114%) contrast(118%) hue-rotate(47.5247524752deg) saturate(7500%) saturate(92.2823529412%) brightness(33%);
}
