@import "../wwwroot/css/_constants.scss";

$title-size: 26px;

header {
    display: flex;
    justify-content: center;
    background-color: $var-primary;
    height: $header-height;
    min-height: $header-height;
    margin: 0;
    padding: $margin;

    article {
        flex: 0 1 $max-article-width;
        display: flex;
        align-items: center;

        div.logo {
            flex: 1 1 auto;
            display: flex;
            align-items: center;

            div.waffle {
                display: inline-block;
                margin-right: $padding;

                ::deep i {
                    color: $var-secondary;
                }
            }

            img {
                width: $logo-size;
                height: $logo-size;
            }

            div.title {
                display: inline-block;
                font-weight: 600;
                font-size: $title-size;
                line-height: $title-size;
                color: $var-secondary;
                margin-left: $padding;
            }
        }

        div.account {
            flex: 0 1 auto;
            display: flex;
            align-items: center;

            ::deep i {
                color: $var-secondary;
                margin-right: $padding;
            }
        }

        ::deep img.glyph {
            width: 22px;
            height: 22px;
            margin-right: $margin;
            filter: filterToColor($primary);
        }
    }
}
