@import "../wwwroot/css/_constants.scss";

$title-size: 26px;

header {
    display: flex;
    justify-content: center;
    background-color: $var-primary;
    height: $logo-size+2*$margin;
    margin: 0;
    padding: $margin;

    article {
        flex: 0 1 $max-article-width+2*$margin;
        display: flex;
        align-items: center;

        div.logo {
            flex: 1 1 auto;

            div.waffle {
                display: inline-block;
                margin-right: $padding;

                ::deep i {
                    color: $var-secondary;
                }
            }

            img {
                width: $logo-size;
                height: $logo-size;
            }

            div.title {
                display: inline-block;
                font-weight: 600;
                font-size: $title-size;
                line-height: $title-size;
                color: $var-secondary;
                margin-left: $padding;
                // Transform down as to center on text ignoring descenders.
                transform: translateY(0.2*$title-size);
            }
        }

        div.account {
            flex: 0 1 auto;

            ::deep i {
                color: $var-secondary;
                margin-right: $padding;
            }
        }
    }
}
