<header>
    <article>
        <div class="logo">
            <div class="waffle"><Icon Key="modules" /></div>
            <Icon Key="logo" />
            <div class="title">Works</div>
        </div>
        <div class="account">
            <Icon Key="newItem"></Icon>
            <Icon Key="alerts"></Icon>
            <Gravatar Email="adrian@akison.com" Size="80" />
        </div>
    </article>
</header>

@code {

}
