<header>
    <article>
        <div class="logo">Works</div>
        <div class="account">
            <i></i>
            <DryGravatar Email="adrian@akison.com" Size="80" />
        </div>
    </article>
</header>

@code {

}
