@inherits LayoutComponentBase

<Theme IconPrefix="glyph fas fa-">
    <CascadingValue Value="@this">
        <main>
            <Header />
            @if(!ViewExpanded) {
                <SubModules />
                <Statlets />
                <ComponentMenu />
            }
            <section class="@ArticleClass">
              <article>
                @Body
              </article>
            </section>
        </main>
    </CascadingValue>
</Theme>

@code {

    public void Expand()
    {
        ViewExpanded = true;
        StateHasChanged();
    }

    public void Compress()
    {
        ViewExpanded = false;
        StateHasChanged();
    }

    public bool ViewExpanded { get; set; }

    public string ArticleClass => ViewExpanded ? "expanded" : "compressed";

}
