@inherits LayoutComponentBase

<Theme Icons="@Icons">
    <CascadingValue Value="@this">
        <main>
            <Header />
            @if(!ViewExpanded) {
                <SubModules />
                <Statlets />
                <ComponentMenu />
            }
            <section class="@ArticleClass">
              <article>
                @Body
              </article>
            </section>
        </main>
    </CascadingValue>
</Theme>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void Expand()
    {
        ViewExpanded = true;
        StateHasChanged();
    }

    public void Compress()
    {
        ViewExpanded = false;
        StateHasChanged();
    }

    public bool ViewExpanded { get; set; }

    public string ArticleClass => ViewExpanded ? "expanded" : "compressed";

    public IconInfo[] Icons = new IconInfo[] {
        // Inherited - Can override default icons.
        new IconInfo("search", "/img/glyphs/magnifying-glass-light.svg", "Search", "glyph"),

        // Body glyphs
        new IconInfo("register", "/img/glyphs/registered-light.svg", "Register", "glyph"),
        new IconInfo("contents", "/img/glyphs/file-lines-light.svg", "Contents", "glyph"),
        new IconInfo("companies", "/img/glyphs/buildings-light.svg", "Companies", "glyph"),
        new IconInfo("company", "/img/glyphs/building-light.svg", "Company", "glyph"),
        new IconInfo("dummy", "/img/glyphs/briefcase-light.svg", "Placeholder", "glyph"),
        new IconInfo("sectors", "/img/glyphs/wrench-light.svg", "Sectors", "glyph"),
        new IconInfo("icons", "/img/glyphs/icons-light.svg", "Icons", "glyph"),
        new IconInfo("code-block", "/img/glyphs/code-light.svg", "Code Block", "glyph"),
        new IconInfo("mini-card", "/img/glyphs/address-card-light.svg", "Icons", "glyph"),
        new IconInfo("mini-dialog", "/img/glyphs/window-maximize-light.svg", "Icons", "glyph"),
        new IconInfo("gravatar", "/img/glyphs/circle-user-light.svg", "Icons", "glyph"),
        new IconInfo("tri-check", "/img/glyphs/square-check-light.svg", "Icons", "glyph"),
        new IconInfo("flexi-select", "/img/glyphs/list-radio-light.svg", "Icons", "glyph"),
        new IconInfo("edit", "fas fa-edit"),
        new IconInfo("plus", "fas fa-plus"),
        new IconInfo("filter", "fas fa-filter"),
        new IconInfo("expand", "fas fa-expand-alt"),
        new IconInfo("compress", "fas fa-compress-alt"),

        // Header glyphs
        new IconInfo("modules", "/img/glyphs/grid-solid.svg", "Select Module", "glyph"),
        new IconInfo("alerts", "/img/glyphs/bell-regular.svg", "Alerts", "glyph"),
        new IconInfo("newItem", "/img/glyphs/hexagon-plus-regular.svg", "Add Item", "glyph"),

        // Hero icons
        new IconInfo("assets", "/img/icons/asset-icon.svg", "Assets", "icon"),
        new IconInfo("logo", "/img/icons/logo.svg", "Site Logo", "icon"),
        new IconInfo("companies-module", "/img/icons/companies-icon.svg", "Company Module", "icon"),
        new IconInfo("components-module", "/img/icons/components-icon.svg", "Component Module", "icon"),
    };

}
