@import "../wwwroot/css/_constants.scss";

section {
    display: flex;
    justify-content: center;
    padding: 0 $margin;
    background-color: $var-off-white;

    article {
        background-color: $var-white;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: $max-article-width;
    }

    // If page is expanded, change padding and width (display of header also changed in Razor)
    &.expanded {
        padding: 0;

        article {
            max-width: initial;
        }
    }

}
