@inherits LayoutComponentBase

<Theme IconPrefix="glyph fas fa-">
    <main>
        <Header />
        <SubModules />
        <Statlets />
        <ComponentMenu />
        <section>
          <article>
            @Body
          </article>
        </section>
    </main>
</Theme>
