div ::deep div.module-menu {
  /* Main waffle settings. */
  padding: 0;
  /* Drop down menu from main waffle */
}
div ::deep div.module-menu button {
  padding: 0;
}
div ::deep div.module-menu button svg {
  /* SVG of Waffle fills borders, make a touch smaller so it feels like an icon */
  width: 25.2px;
  height: 25.2px;
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog {
  width: 335px;
  height: initial;
  padding-top: 5px;
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul {
  padding: 0;
  flex-direction: column;
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li {
  padding: 10px;
  margin: 10px 20px;
  border: solid 1px var(--silver);
  border-radius: 10px;
  display: block;
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li.active {
  border: solid 1px var(--warning);
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li img, div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li svg {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li a:link, div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li a:visited, div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li a:hover, div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li a:active {
  text-decoration: none;
  color: var(--black);
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li span.title {
  font-size: 18px;
  font-weight: 700;
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog nav ul li span.subtitle {
  font-size: 12px;
  line-height: 14px;
  max-height: 28px;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
div ::deep div.module-menu section.mini-dialog div.mini-dialog footer {
  display: none;
}
