<div class="waffle">
    <DryMenu class="module-menu" Menu="App.Menu">
        <Icon Key="@App.Menu.Icon" />
    </DryMenu>
</div>

@code {
    [Inject]
    public AppViewModel App { get; set; } = null!;
}
