section {
  display: flex;
  justify-content: center;
  padding: 0 10px; }
  section article {
    flex: 0 1 1240px;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    height: 76px;
    margin: 0;
    padding: 0 0 10px 0;
    align-items: center;
    gap: 10px; }
    section article x-statlet {
      flex: 0 0 170px;
      display: none;
      flex-direction: column-reverse;
      border-radius: 3px;
      align-items: center; }
      section article x-statlet:hover {
        background-color: var(--off-white); }
      section article x-statlet label {
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--gray);
        margin-bottom: 5px; }
      section article x-statlet div {
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
        color: var(--charcoal);
        margin-top: 5px; }
      section article x-statlet:nth-child(1), section article x-statlet:nth-child(2) {
        display: flex; }
      @media (min-width: 550px) {
        section article x-statlet:nth-child(3) {
          display: flex; } }
      @media (min-width: 730px) {
        section article x-statlet:nth-child(4) {
          display: flex; } }
      @media (min-width: 910px) {
        section article x-statlet:nth-child(5) {
          display: flex; } }
