@import "../wwwroot/css/_constants.scss";

$statlet-width: 170px; // Fit 2x on mobile screen...
$statlet-height: 60px;
$statlet-label-height: 13px;
$statlet-text-height: 22px;

$three-statlet-break: 3*$statlet-width + 4*$margin;
$four-statlet-break: 4*$statlet-width + 5*$margin;
$five-statlet-break: 5*$statlet-width + 6*$margin;

section {
    display: flex;
    justify-content: center;
    padding: 0 $margin;

    article {
        flex: 0 1 $max-article-width;
        display: flex;
        justify-content: center;
        background-color: $var-white;
        height: 2*$icon-size+2*$margin;
        margin: 0;
        padding: 0 0 $margin 0;
        align-items: center;
        gap: $margin;

        x-statlet {
            flex: 0 0 $statlet-width;
            display: none;
            flex-direction: column-reverse;
            border-radius: $border-radius;
            align-items: center;

            &:hover {
                background-color: $var-off-white;
            }

            label {
                display: inline-block;
                font-size: $statlet-label-height;
                font-weight: 600;
                text-transform: uppercase;
                color: $var-gray;
                margin-bottom: $padding;
            }

            div {
                display: inline-block;
                font-size: $statlet-text-height;
                font-weight: 600;
                color: $var-charcoal;
                margin-top: $padding;
            }

            ::deep .suspense.timeout div {
                font-size: $statlet-label-height;
            }

            &:nth-child(1), &:nth-child(2) {
                display: flex;
            }
            // Reveal additional stats as screen space allows
            &:nth-child(3) {
                @media (min-width: #{$three-statlet-break}) {
                    display: flex;
                }
            }

            &:nth-child(4) {
                @media (min-width: $four-statlet-break) {
                    display: flex;
                }
            }

            &:nth-child(5) {
                @media (min-width: $five-statlet-break) {
                    display: flex;
                }
            }
        }
    }
}

// 
// Change display of suspense for statlet alignment.
//
section article {
    ::deep .suspense.complete {
        display: inline;
    }
}
