@import "../wwwroot/css/_constants.scss";

$sub-title-size: 18px;

section {
    article {
        display: flex;
        justify-content: center;
        background-color: $var-white;
        height: $icon-size+2*$margin;
        margin: 0;
        padding: $margin;

        div.sub-module {
            flex: 0 1 $max-article-width+2*$margin;

            img {
                width: $icon-size;
                height: $icon-size;
            }

            div {
                display: inline-block;
                font-size: $sub-title-size;
                font-weight: 700;
                font-style: italic;
                height: $icon-size;
                line-height: $icon-size;
                transform: translateY(0.1*$icon-size);
            }
        }
    }
}