section {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
section article {
  flex: 0 1 1240px;
  justify-content: center;
  background-color: var(--white);
  height: 48px;
  margin: 0;
  padding: 10px 0;
}
section article img {
  width: 28px;
  height: 28px;
}
section article div {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 28px;
  line-height: 28px;
  transform: translateY(2.8px);
}
