@inject CrudClient<Employee> EmployeeService
@inject NavigationManager Navigation

<h2>Employee</h2>
<DryForm Decorator="@this" Model="@employee" FixedFieldsets="2" />

@code {

    [Parameter]
    public Guid Uuid { get; set; }

    private Employee? employee;

    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeService.ReadAsync(Uuid);
    }

    [Command(CommandContext.Primary, Name = "Save & Close")]
    public async Task SaveAsync(Employee employee)
    {
        await EmployeeService.UpdateAsync(Uuid, employee);
        Navigation.NavigateTo("/admin/works/employees/list");
    }

}
