@inject IListService<Employee> EmployeeService;
@inject NavigationManager Navigation;

<h1>Employees</h1>

<DryErrorBoundary>
    @*<TableMenu TItem="Employee" />*@
    <DryFilter TItem="Employee" Decorator="@this" Affordance="" Icon="theme" ShowPreview="false" />
    <DryTable TItem="Employee" Decorator="@this" ItemsService="@EmployeeService" />
</DryErrorBoundary>

@code {
    [Hyperlink(nameof(Employee.Title))]
    public HyperlinkContext NavLink(Employee employee)
    {
        return new HyperlinkContext($"/admin/works/employees/list/{employee.Uuid}");
    }

    [Command(CommandContext.Default, Icon = "edit")]
    public void Edit(Employee employee)
    {
        Navigation.NavigateTo(NavLink(employee).Href);
    }
}
