@inject CrudService<Sector> Service
@inject NavigationManager Navigation

<h3>Sector</h3>

<DryForm ViewModel="@this" Model="@sector" />

@code {

    [Parameter]
    public Guid Uuid { get; set; }

    private Sector? sector;

    protected override async Task OnInitializedAsync()
    {
        sector = await Service.RetrieveAsync(Uuid);
    }

    [Command(CommandContext.Primary, Name = "Save & Close")]
    public async Task SaveAsync(Sector sector)
    {
        await Service.UpdateAsync(Uuid, sector);
        Navigation.NavigateTo("/admin/works/sectors/list");
    }

}
