//
// Color palette
//
$primary: #FED434;
$secondary: #5E1508;
$danger: #D02516;
$success: #73AF36;
$info: #00AFE5;
$warning: #E58D00;

$primary-light: hsl(hue($primary), saturation($primary), 90%);
$secondary-light: hsl(hue($secondary), saturation($secondary), 90%);
$danger-light: hsl(hue($danger), saturation($danger), 95%);
$success-light: hsl(hue($success), saturation($success), 95%);
$info-light: hsl(hue($info), saturation($info), 95%);
$warning-light: hsl(hue($warning), saturation($warning), 95%);

$primary-dark: hsl(hue($primary), saturation($primary), 20%);
$secondary-dark: hsl(hue($secondary), saturation($secondary), 10%);
$danger-dark: hsl(hue($danger), saturation($danger), 20%);
$success-dark: hsl(hue($success), saturation($success), 20%);
$info-dark: hsl(hue($info), saturation($info), 20%);
$warning-dark: hsl(hue($warning), saturation($warning), 20%);

$white: #FFFFFF;
$off-white: hsl(hue($white), saturation($white), 97%);
$light: hsl(hue($white), saturation($white), 90%);
$silver: hsl(hue($white), saturation($white), 80%);
$gray: hsl(hue($white), saturation($white), 60%);
$dark: hsl(hue($white), saturation($white), 30%);
$charcoal: hsl(hue($white), saturation($white), 10%);
$black: hsl(hue($white), saturation($white), 5%);

//
// Color palette mapped to CSS variables
// Note: use #{} for SaaS expansion inside variable declarations.
//
:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --danger: #{$danger};
    --success: #{$success};
    --info: #{$info};
    --warning: #{$warning};

    --primary-light: #{$primary-light};
    --secondary-light: #{$secondary-light};
    --danger-light: #{$danger-light};
    --success-light: #{$success-light};
    --info-light: #{$info-light};
    --warning-light: #{$warning-light};

    --primary-dark: #{$primary-dark};
    --secondary-dark: #{$secondary-dark};
    --danger-dark: #{$danger-dark};
    --success-dark: #{$success-dark};
    --info-dark: #{$info-dark};
    --warning-dark: #{$warning-dark};

    --white: #{$white};
    --off-white: #{$off-white};
    --light: #{$light};
    --silver: #{$silver};
    --gray: #{$gray};
    --dark: #{$dark};
    --charcoal: #{$charcoal};
    --black: #{$black};
}

//
// Color palette variables mapped back to SaaS variables.
// Prefer the use of these colors over non-var alternatives (e.g. $var-primary, not $primary)
// This allows color tweaks in-browser to be seen across entire site.
//
$var-primary: var(--primary);
$var-secondary: var(--secondary);
$var-danger: var(--danger);
$var-success: var(--success);
$var-info: var(--info);
$var-warning: var(--warning);

$var-primary-light: var(--primary-light);
$var-secondary-light: var(--secondary-light);
$var-danger-light: var(--danger-light);
$var-success-light: var(--success-light);
$var-info-light: var(--info-light);
$var-warning-light: var(--warning-light);

$var-primary-dark: var(--primary-dark);
$var-secondary-dark: var(--secondary-dark);
$var-danger-dark: var(--danger-dark);
$var-success-dark: var(--success-dark);
$var-info-dark: var(--info-dark);
$var-warning-dark: var(--warning-dark);

$var-white: var(--white);
$var-off-white: var(--off-white);
$var-light: var(--light);
$var-silver: var(--silver);
$var-gray: var(--gray);
$var-dark: var(--dark);
$var-charcoal: var(--charcoal);
$var-black: var(--black);

//
// Dimensional attributes.
//
$margin: 10px;
$icon-size: 40px;
$max-article-width: 1200px;

//
// Responsive sizes declared using sass.
// Note: no $phone-portrait as that is the default for mobile-first.
//
$phone-landscape: "only screen and (min-width: 600px)";
$tablet-portrait: "only screen and (min-width: 750px)";
$tablet-landscape: "only screen and (min-width: 1000px)";
$desktop-landscape: "only screen and (min-width: 1200px)";
