//
// Color palette
//
$primary: #FED434;
$secondary: #5E1508;
$danger: #D02516;
$success: #73AF36;
$info: #00AFE5;
$warning: #E58D00;

$primary-light: hsl(hue($primary), saturation($primary), 90%);
$secondary-light: hsl(hue($secondary), saturation($secondary), 90%);
$danger-light: hsl(hue($danger), saturation($danger), 95%);
$success-light: hsl(hue($success), saturation($success), 95%);
$info-light: hsl(hue($info), saturation($info), 95%);
$warning-light: hsl(hue($warning), saturation($warning), 95%);

$primary-dark: hsl(hue($primary), saturation($primary), 20%);
$secondary-dark: hsl(hue($secondary), saturation($secondary), 10%);
$danger-dark: hsl(hue($danger), saturation($danger), 20%);
$success-dark: hsl(hue($success), saturation($success), 20%);
$info-dark: hsl(hue($info), saturation($info), 20%);
$warning-dark: hsl(hue($warning), saturation($warning), 20%);

$white: #FFFFFF;
$off-white: hsl(hue($white), saturation($white), 97%);
$light: hsl(hue($white), saturation($white), 90%);
$silver: hsl(hue($white), saturation($white), 80%);
$gray: hsl(hue($white), saturation($white), 60%);
$dark: hsl(hue($white), saturation($white), 30%);
$charcoal: hsl(hue($white), saturation($white), 10%);
$black: hsl(hue($white), saturation($white), 5%);

//
// Color palette variables mapped back to SaaS variables.
// Prefer the use of these colors over non-var alternatives (e.g. $var-primary, not $primary)
// This allows color tweaks in-browser to be seen across entire site.
//
$var-primary: var(--primary);
$var-secondary: var(--secondary);
$var-danger: var(--danger);
$var-success: var(--success);
$var-info: var(--info);
$var-warning: var(--warning);

$var-primary-light: var(--primary-light);
$var-secondary-light: var(--secondary-light);
$var-danger-light: var(--danger-light);
$var-success-light: var(--success-light);
$var-info-light: var(--info-light);
$var-warning-light: var(--warning-light);

$var-primary-dark: var(--primary-dark);
$var-secondary-dark: var(--secondary-dark);
$var-danger-dark: var(--danger-dark);
$var-success-dark: var(--success-dark);
$var-info-dark: var(--info-dark);
$var-warning-dark: var(--warning-dark);

$var-white: var(--white);
$var-off-white: var(--off-white);
$var-light: var(--light);
$var-silver: var(--silver);
$var-gray: var(--gray);
$var-dark: var(--dark);
$var-charcoal: var(--charcoal);
$var-black: var(--black);

//
// Dimensional attributes.
//
$margin: 10px;
$padding: $margin/2;
$logo-size: 40px;
$icon-size: 28px;
$glyph-size: 20px;
$max-article-width: 1240px;
$border-radius: 3px;
// Additional, specific attributes
$header-height: $logo-size+2*$margin;
$dialog-horizontal-margin: 6*$margin;
$dialog-vertical-margin: 8*$margin;

//
// Responsive sizes declared using sass.
// Note: no $phone-portrait as that is the default for mobile-first.
//
$phone-landscape: "only screen and (min-width: 600px)";
$tablet-portrait: "only screen and (min-width: 750px)";
$tablet-landscape: "only screen and (min-width: 1000px)";
$desktop-landscape: "only screen and (min-width: 1200px)";

@mixin depth-small {
    // Copied from Figma...
    background: $white;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}

@mixin depth-medium {
    // Copied from Figma...
    background: $white;
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1), 0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}

@mixin depth-large {
    // Copied from Figma...
    background: $white;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}

@mixin depth-xlarge {
    // Copied from Figma...
    background: $white;
    box-shadow: 0px 4.8px 14.4px rgba(0, 0, 0, 0.18), 0px 25.6px 57.6px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
}
