@import "_constants.scss";

//
// Layout of the filter, an inline dialog-box, which controls filters but is not always shown.
//
.dry-filter {
    display: flex;
    gap: 10px; 

    .filter-text {
        flex: 0 1 300px;
    }

    .filter-enum {
        flex: 0 1 150px;
    }

    .filter-greedy {
        flex: 1 1 1px;
    }
}
