@import "_constants.scss";

// On mobile & tablet, use a curtain and a soverign dialog box.
// On desktop, pop-up in place.
form.flexi-select-form {
    div.items {
        background-color: $var-white;

        label:hover {
            background-color: $var-primary-light;
        }
    }
}

// Example of animation using fade-in fade-out
// Match with Change AnimationDuration on MiniDialog to 100 to see this work.
.mini-dialog.form, .mini-dialog.curtain {
    transition: opacity 0.1s;
    &.showing, &.visible {
        opacity: 100%;
    }
    &.hidden, &.hiding {
        opacity: 0%;
    }
}
