form fieldset.summary {
  border-left: solid 10px var(--primary);
  padding: 5px 10px;
  height: 102px;
}
form fieldset.summary legend {
  display: none;
}

form fieldset.status {
  background-color: var(--off-white);
  border-top: solid 1px var(--light);
  border-bottom: solid 1px var(--light);
  padding: 5px 10px;
  height: 70px;
}
form fieldset.status legend {
  display: none;
}
form fieldset.status div.line {
  height: 28px;
  padding: 5px;
}
form fieldset.status div.field label {
  color: var(--gray);
  font-weight: 600;
  font-size: 12px;
  width: 80px;
}
form fieldset.status div.field label span:after {
  content: ":";
}
form fieldset.status select {
  border: solid 1px transparent;
  background: transparent;
  font-weight: 600;
  appearance: none;
}
form fieldset.status select:hover {
  background: var(--white);
  border: solid 1px var(--gray);
  appearance: auto;
}
form fieldset.status select:focus-visible {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
form .status-properties {
  flex: 0 0 auto;
}
form .description-properties {
  flex: 1 1 auto;
  overflow-y: auto;
}
