@import "_constants.scss";

//
// Remove form boundaries and spacing from Extra Dry, add back as padding on non-header divs.
//
form {
    padding: 0;
    gap: 0;

    .variable-fieldsets, .entity-actions {
        padding: 10px;
    }
}

//
// Forms that have a summary (should be most), are given the standard summary heading.
// Color defaults to primary, some forms will want to change this to have special highlights for certain entities.
//
form div.entity-info, form fieldset.summary {
    border-left: solid $margin $var-primary;
    padding: $margin/2 $margin;
}

form fieldset.summary {
    height: 75px;
    legend {
        display: none;
    }
    div.line.properties {
        gap: 5px;
    }
}

//
// The summary heading should also have a single property per line.
// 
form fieldset.summary .line.properties {
    flex-direction: column;
}

//
// Title and Slug properties are editable but also should display as a title, make it prominent with hover effects for visual pliancy.
//
form div.field.title, form div.field.slug {
    label {
        display: none;
    }

    input {
        font-size: 18px;
        font-weight: 600;
        border: solid 1px transparent;
        width: 100%;

        &:hover {
            border-color: $var-light;
        }

        &:focus-visible {
            border-color: $var-info;
            outline: none;
        }
    }
}

//
// Fixed fieldsets at top of form are tight, remove gap.
// 
form div.fixed-fieldsets {
    gap: 0;
}

//
// The status line is usually seldom written fields and gets a custom set of visual styles.
//
form fieldset.status {
    background-color: $var-off-white;
    border-top: solid 1px $var-light;
    border-bottom: solid 1px $var-light;
    padding: $margin/2 $margin;
    height: 75px;

    legend {
        display: none;
    }

    div.line {
        height: 28px;
        padding: $margin/2;
    }

    div.field {
        flex-direction: row;
        align-items: center;
        font-size: 14px;

        label {
            color: $var-gray;
            font-weight: 600;
            width: 80px;

            span:after {
                content: ":";
            }
        }
    }

    select {
        border: solid 1px transparent;
        background: transparent;
        font-weight: 600;
        appearance: none;

        &:hover {
            background: $var-white;
            border: solid 1px $var-gray;
            appearance: auto;
        }

        &:focus-visible {
            outline: none;
        }
    }
}

div.field.caption {
    margin-left: 22px;

    input {
        font-weight: 600;
        font-size: 16px;
    }

    label span {
        display: none;
    }

    input {
        border: none;
    }
}

form {
    select {
        option::before {
            color: red;
            content: "X";
        }
    }
}
