// Global styles that are applied across the entire site.
@import "_constants.scss";

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans"), local("OpenSans-Regular"), url(/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 500;
    src: local("OpenSans Medium"), local("OpenSans-Medium"), url(/fonts/open-sans/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    src: local("OpenSans SemiBold"), local("OpenSans-SemiBold"), url(/fonts/open-sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: local("OpenSans Bold"), local("OpenSans-Bold"), url(/fonts/open-sans/OpenSans-Bold.ttf);
}

html, body {
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

//
// Some pages need scroll and other don't, always show scrollbar so pages don't jitter back and forth.
//
body {
    overflow-y: scroll;
}

//
// Gravatars are by default everywhere 40x40 with full circle rounding.
//
div.gravatar {
    display: inline-block;

    img.gravatar {
        width: $icon-size;
        height: $icon-size;
        border-radius: $icon-size/2;
    }
}

//
// Glyphs should have consistent size and alignment
//
i.glyph {
    font-size: $glyph-size;
    line-height: $glyph-size;
}

//
// Fill screen with primary body, such as list view, which is the last section.
//
main {
    height: 100vh;
    display: flex;
    flex-direction: column;

    section {
        flex: 0 0 auto;

        &:last-child {
            flex: 1 0 auto;
        }
    }
}
