div.content-editor {
  display: flex;
  flex-direction: row-reverse;
  border: solid 1.5px silver;
}

  div.content-editor .toolbar {
    flex: 0 0 300px;
    border-left: solid 1.5px silver;
  }

    div.content-editor .toolbar h5 {
      font-weight: bold;
      font-size: unset;
      color: gray;
    }

    div.content-editor .toolbar ::deep button {
      border: solid 1.5px silver;
      border-radius: 3px;
      background-color: white;
    }

      div.content-editor .toolbar ::deep button.selected {
        background-color: #f2f2f2;
      }

      div.content-editor .toolbar ::deep button:hover {
        background-color: #f9f9f9;
      }

      div.content-editor .toolbar ::deep button:focus {
        border: solid 1.5px silver;
      }

      div.content-editor .toolbar ::deep button:active {
        border: solid 1.5px gray;
        background-color: #eaeaea;
      }

      div.content-editor .toolbar ::deep button.alternate span, div.content-editor .toolbar ::deep button.primary span {
        color: gray;
      }

      div.content-editor .toolbar ::deep button span {
        font-size: 12px;
        font-weight: bold;
      }

    div.content-editor .toolbar ::deep span.caption {
      font-size: 14px;
      color: gray;
    }

    div.content-editor .toolbar ::deep section {
      border-bottom: solid 1.5px silver;
      padding: 10px;
    }

      div.content-editor .toolbar ::deep section > div {
        margin-top: 10px;
      }

    div.content-editor .toolbar ::deep .radio-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }

      div.content-editor .toolbar ::deep .radio-buttons button {
        width: 86px;
        height: 60px;
      }

        div.content-editor .toolbar ::deep .radio-buttons button img {
          width: 64px;
          height: 20px;
        }

          div.content-editor .toolbar ::deep .radio-buttons button img + span {
            color: gray;
          }

      div.content-editor .toolbar ::deep .radio-buttons.currentsectiontheme span {
        border: solid 1px black;
        padding: 5px 15px;
      }

      div.content-editor .toolbar ::deep .radio-buttons.currentcontaineralignment {
        grid-template-columns: 32px 32px 32px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
      }

        div.content-editor .toolbar ::deep .radio-buttons.currentcontaineralignment button {
          width: 32px;
          height: 32px;
          padding: 3px 4px 4px 3px;
        }

          div.content-editor .toolbar ::deep .radio-buttons.currentcontaineralignment button img {
            width: 24px;
            height: 24px;
          }

      div.content-editor .toolbar ::deep .radio-buttons.currentcontainerpadding button img {
        height: 32px;
        margin-top: 4px;
      }

  div.content-editor .editor {
    flex: 1 1 auto;
  }

    div.content-editor .editor section {
      transition: outline 0.25s;
    }

      div.content-editor .editor section.rooster-selected {
        outline: solid 1.5px #427bbd;
        z-index: 1000;
      }

        div.content-editor .editor section.rooster-selected div.editor-root { /* RoosterJS style */
          outline: solid 1.5px #427bbd;
        }