::deep div.invalid {
  outline: solid 2px var(--danger);
}

.invalid.message {
  color: var(--danger);
  font-size: var(--text-small);
}

/* Formatting changes for when inline instead of standard (not simple top down flex) */
div.inline {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
}

  div.inline div.inline-child {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-small);
    align-items: start;
  }

/* Change for odd case of checkbox where text is after control*/
  div.inline:has(div.input.checkbox) {
    justify-content: end;

    div.inline-child {
      height: var(--input-field-height);
      justify-content: start;
      align-items: center;
    }
  }