@layer extra-dry {
  
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

    fieldset legend {
        font-size: 18px;
        font-weight: bold;
        padding: 0 0 5px 0;
    }

    fieldset div.group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /*
        Style for the line properties so that multiple properties can be displayed in a row.
        Size of properties is determined by small/medium/large/jumbo sizing.  
    */
    fieldset div.line.properties {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

      fieldset div.line.properties ::deep div.field.small {
        flex: 1 0 0px;
      }

      fieldset div.line.properties ::deep div.field.medium {
        flex: 2 0 10px; /* 1x gap that it might span. */
      }

      fieldset div.line.properties ::deep div.field.large {
        flex: 3 0 20px; /* 2x gap that it might span. */
      }

      fieldset div.line.properties ::deep div.field.jumbo {
        flex: 4 0 30px; /* 3x gap for consistency, although always spans line. */
      }
}