@import "../wwwroot/css/_constants.scss";

div.curtain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

    div.dialog {
        position: absolute;
        width: 100%;
        height: calc(100vh - 2*$dialog-vertical-margin);
        background-color: $var-white;

        &.full {
            max-width: unset;
            margin: 0;
        }

        &.window {
            display: flex;
            flex-direction: column;
            max-width: $max-article-width - 2*$dialog-horizontal-margin;
            margin: $dialog-vertical-margin $dialog-horizontal-margin;
        }

        div.controls {
            position: absolute;
            right: $margin/2;
            top: $margin/2;
            font-size: 28px;
            display: flex;

            ::deep button {
                color: $var-gray;
                border: none;
                background: none;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $var-primary-light;
                }
            }
        }
    }
}