header {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  height: 60px;
  min-height: 60px;
  margin: 0;
  padding: 10px;
}
header article {
  flex: 0 1 1240px;
  display: flex;
  align-items: center;
  gap: 8px;
}
header article div.waffle {
  padding: 0;
}
header article div.waffle ::deep svg {
  color: var(--secondary);
}
header article div.logo ::deep img, header article div.logo ::deep svg {
  width: 40px;
  height: 40px;
}
header article div.title {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  color: var(--secondary);
  margin-left: 5px;
}
header article div.search {
  flex: 1 1 auto;
}
header article ::deep img.glyph, header article ::deep svg.glyph {
  width: 28px;
  height: 28px;
  fill: var(--secondary);
}
header article ::deep div.account img.glyph {
  margin-right: 10px;
}
