<header>
    <article>
        <ModuleMenu />
        <div class="logo">
            <Icon Key="logo" />
        </div>
        <div class="title">Works</div>
        <div class="search" />

        <Icon Key="newItem"></Icon>
        <Icon Key="alerts"></Icon>
        <Gravatar Email="adrian@akison.com" Size="80" />
    </article>
</header>
