section {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
section article {
  flex: 0 1 1240px;
  justify-content: center;
  background-color: var(--white);
  margin: 0;
}
section article img {
  width: 28px;
  height: 28px;
}
section article ::deep nav ul {
  gap: 10px;
  padding-left: 0;
  align-items: center;
}
section article ::deep nav ul a > div {
  gap: 5px;
}
section article ::deep nav ul li.active {
  order: -1;
}
section article ::deep nav ul li.active img {
  height: 40px;
  width: unset;
}
section article ::deep nav ul li.active span {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
section article ::deep nav ul li.inactive img {
  height: 20px;
  width: unset;
}
section article ::deep nav ul li.inactive span {
  color: #333333;
  font-weight: normal;
  font-size: 14px;
}
section article div {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 28px;
  line-height: 28px;
  transform: translateY(2.8px);
}
