@import "_constants.scss";

img.glyph, svg.glyph {
    width: $glyph-size;
    height: $glyph-size;
    fill: $var-dark;
}

img.icon, svg.icon {
    width: $icon-size;
    height: $icon-size;
}

img.small-icon, svg.small-icon {
    width: $glyph-size;
    height: $glyph-size;
}