@import "_constants.scss";

// On mobile & tablet, use a curtain and a soverign dialog box.
// On desktop, pop-up in place.
.mini-dialog {

    &.curtain {
        // On desktop, curtain becomes a relative placement element instead of a normal curtain.
        @media #{$desktop-landscape} {
            width: initial;
            height: initial;
            position: relative;
        }
    }

    &.form {
        background-color: $var-white;
        // On desktop, the form becomes absolute relative to the curtain which should be next to the visibility control.
        @media #{$desktop-landscape} {
            position: absolute;
            // If classes for left/right are passed through then try to align properly.
            // Since we can't control the parent of the mini-dialog from here, it needs to be position: relative, display: inline-block for 'right' this to work.
            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
        // Max a max size for the form
        @include depth-large;

        &.many {
            // same as unspecified, repeated for completeness
            max-width: 500px;
            max-height: 854px;
        }

        &.several {
            max-width: 325px;
            max-height: 500px;
        }

        &.few {
            max-width: 250px;
            max-height: 300px;
        }

        > header {
            background-color: $var-off-white;

            @media #{$desktop-landscape} {
                display: none;
            }

            .title {
                h3 {
                    margin: 0;
                    padding: $margin;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        > footer {
            background-color: $var-off-white;
            padding: $margin;
            border-top: solid 1px $var-silver;

        }
    }
}

// Example of animation using fade-in fade-out
// Match with Change AnimationDuration on MiniDialog to 100 to see this work.
.mini-dialog.form, .mini-dialog.curtain {
    transition: opacity 0.1s;
    &.showing, &.visible {
        opacity: 100%;
    }
    &.hidden, &.hiding {
        opacity: 0%;
    }
}
