@import "_constants.scss";

//
// Styles for the component sample pages.
//

form.tryitout {
    div {
        height: 40px;
        display: flex;
        align-items: center;

        label {
            min-width: 120px;
        }
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
}