div {
  position: relative;
}

  div > label {
    display: flex;
    flex-direction: row;
    border: solid 1px gray;
    border-radius: 1px;
    padding: 0 0 0 4px;
    align-items: center;
    height: 100%;
  }

    div > label:focus-within {
      outline: solid 1px black;
    }

    div > label > img {
      width: 24px;
      height: 24px;
    }

    div > label > input {
      flex: 100%;
      border: none;
    }

      div > label > input:focus-visible {
        outline: none;
      }

    div > label > div {
      color: silver;
    }

    div > label > progress {
      width: 24px;
      height: 24px;
    }

    div > label > button {
      height: 100%;
    }

  div > div {
    position: absolute;
    --chromium-workaround: "Setting background color on <ol> directly masks mouse drag on scrollbar.";
    background-color: white;
    width: auto;
    left: 0;
    right: 0;
    z-index: 1;
  }

  div ol {
    border: solid 1px silver;
    padding: 0;
    line-height: 1.5em;
    min-width: 250px;
    min-height: calc(4.5em + 14px);
    max-height: calc(13.5em + 38px);
    overflow: scroll;
    overflow-x: clip;
  }

    div ol li {
      padding: 2px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

      div ol li.header {
        font-weight: bold;
      }

      div ol li.option {
        padding: 2px 10px;
      }

        div ol li.option:hover {
          background-color: #eeeeee;
        }

        div ol li.option.selected {
          background-color: silver;
        }

      div ol li.more {
        font-style: italic;
      }