@namespace ExtraDry.Blazor

<div class="@CssClasses">
    <pre>@DisplayValue</pre>
    <div class="actions">
        @if(IsSecret) {
            <Button Icon="@RevealIcon" Caption="@RevealCaption" ShowCaption="false" Theme="ButtonTheme.Ghost" OnClick="ToggleReveal" />
        }
        <Button Icon="copy" Caption="Copy" ShowCaption="false" Theme="ButtonTheme.Ghost" OnClick="CopyToClipboard" />
    </div>
</div>
