::deep div.invalid {
  background: repeating-linear-gradient(-45deg, var(--danger-light), var(--danger-light) 10px, var(--warning-light) 10px, var(--warning-light) 20px);
}

.invalid.message {
  color: var(--danger);
  font-size: var(--text-small);
}
