/*
    Update the defaults for the embedded sun editor to match the styles of the rest of the application.
    Can't put in layer because the sun editor doesn't use layers.
*/

div {
  width: 100%;
}

  div ::deep .sun-editor {
    font-family: inherit;
    border: none;
    background-color: initial;
    color: inherit;
  }

  div ::deep .se-btn-module-border .se-btn-select.se-btn-tool-format {
    min-width: 120px;
  }

  div ::deep .sun-editor-editable {
    padding: 0;
  }

    div ::deep .sun-editor-editable p {
      margin: 0;
      padding-bottom: var(--spacing-tiny);
    }

    div ::deep .sun-editor-editable ul, div ::deep .sun-editor-editable ol {
      margin: 0;
      padding-inline-start: 24px;
    }

    div ::deep .sun-editor-editable li {
      margin: 0;
    }

    div ::deep .sun-editor .se-list-layer ul h2, div ::deep .sun-editor-editable h2 {
      font-size: 1.50em;
      margin-block-start: initial;
      margin-block-end: initial;
      margin: 0;
      padding-bottom: var(--spacing-small);
    }

    div ::deep .sun-editor .se-list-layer ul h3, div ::deep .sun-editor-editable h3 {
      font-size: 1.36em;
      margin-block-start: initial;
      margin-block-end: initial;
      margin: 0;
      padding-bottom: var(--spacing-small);
    }

    div ::deep .sun-editor .se-list-layer ul h4, div ::deep .sun-editor-editable h4 {
      font-size: 1.22em;
      margin-block-start: initial;
      margin-block-end: initial;
      margin: 0;
      padding-bottom: var(--spacing-tiny);
    }

    div ::deep .sun-editor .se-list-layer ul h5, div ::deep .sun-editor-editable h5 {
      font-size: 1.11em;
      margin-block-start: initial;
      margin-block-end: initial;
      margin: 0;
      padding-bottom: var(--spacing-tiny);
    }

    div ::deep .sun-editor .se-list-layer ul h6, div ::deep .sun-editor-editable h6 {
      font-size: 1.00em;
      margin-block-start: initial;
      margin-block-end: initial;
      margin: 0;
      padding-bottom: var(--spacing-tiny);
    }

  /*
    Tooltips are styled poorly.
  */
  div ::deep .sun-editor .se-tooltip .se-tooltip-inner .se-tooltip-text {
    background-color: var(--neutral-2);
    color: var(--neutral-9);
    border: solid 1px var(--neutral-7);
    border-radius: var(--input-rounding);
  }

    div ::deep .sun-editor .se-tooltip .se-tooltip-inner .se-tooltip-text .se-shortcut,
    div ::deep .sun-editor .se-tooltip .se-tooltip-inner .se-tooltip-text .se-shortcut-key {
      font-size: 12px;
    }

  /*
    Toolbar is crowded left, center and round.
  */
  div ::deep .se-toolbar.sun-editor-common.se-toolbar-inline {
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--input-rounding);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
  }

  /*
    Center the link dialog vertically on screen and fix width.
  */
  div ::deep .se-dialog .se-dialog-inner {
    align-items: center;
    justify-content: center;
  }

    div ::deep .se-dialog .se-dialog-inner .se-dialog-content {
      margin: 0;
      width: 500px;
    }

  /*
      Style the embedded dialog box.
  */

  /*
    Hide the URL preview below the input as it is redundant and resizes the dialog.
  */
  div ::deep .sun-editor .se-dialog .se-dialog-inner .se-anchor-preview-form {
    display: none;
  }

  /* 
    Better checkbox alignment and sizing.
  */
  div ::deep .sun-editor .se-dialog .se-dialog-inner .se-dialog-form-footer {
    display: flex;
    height: 40px;
    align-items: center;
  }

    div ::deep .sun-editor .se-dialog .se-dialog-inner .se-dialog-form-footer label {
      display: flex;
      align-items: center;
      flex: 1 1 10px;
    }

      div ::deep .sun-editor .se-dialog .se-dialog-inner .se-dialog-form-footer label input {
        width: 18px;
        height: 18px;
      }
