@using ExtraDry.Blazor.Models
@implements IAsyncDisposable

@if(ReadOnly) {
    <div class="@CssClasses">
        @((MarkupString)renderedHtml)
    </div>
}
else {
    <div class="@CssClasses">
        <div id="@editorId"></div>
    </div>
}

