div {
  display: flex;
  align-items: center;
  height: 40px;
}
div.thumbnail {
  height: 48px;
}
div ::deep i, div ::deep img {
  border-radius: 20px;
  margin-right: 8px;
  max-height: 40px;
  max-width: 40px;
}
div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: initial;
}
div > div span:nth-child(1) {
  line-height: 16px;
}
div > div span:nth-child(2) {
  font-size: 12px;
}
