$height: 20px; // default to touch friendly
$padding: 8px;

//
// Mini Card has some well defined layouts which are not designed to change much.
// However, the size of items won't look right until the user gives them good sizes and gaps.
div {
    display: flex;
    align-items: center;


    > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: initial;

    }
}
