$height: 40px; // default to touch friendly
$padding: 8px;

div {
    display: flex;
    align-items: center;
    height: $height;

    &.thumbnail {
        height: $height+$padding;
    }

    ::deep i, ::deep img {
        border-radius: 0.5*$height;
        margin-right: $padding;
        max-height: $height;
        max-width: $height
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: initial;

        span:nth-child(1) {
            line-height: 16px;
        }

        span:nth-child(2) {
            font-size: 12px;
        }
    }
}
