.spinner {
  border: 3px solid #ccc;
  border-top: 3px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite; }

.spinner.small {
  width: 16px;
  height: 16px; }

.spinner.large {
  width: 28px;
  height: 28px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
