div {
    label {
        display: flex;
        align-items: center;

        span:first-of-type {
            display: inline-flex;
            align-items: center;
            position: relative;
            width: 40px;
            height: 20px;
            border: 1px solid #333;
            border-radius: 12px;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 12px;
                height: 12px;
                margin: 0 4px;
                background: #333;
                border-radius: 100%;
                transition: 0.3s;
            }
        }
    }

    input[type=checkbox] {
        display: none;

        &:checked + label span:first-of-type::after {
            left: 18px;
        }

        &:indeterminate + label span:first-of-type::after {
            left: 9px;
        }
    }
}
