div {
    display: flex;
    align-items: center;

    span {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 40px;
        height: 20px;
        border: 1px solid #333;
        border-radius: 12px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 12px;
            height: 12px;
            margin: 0 4px;
            background: #767676;
            border-radius: 100%;
            transition: 0.3s;
        }
    }

    .on {
        background: #e9e9ed;

        &::after {
            left: 18px;
        }
    }

    .indeterminate::after {
        left: 9px;
    }
}
