<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link href="fonts/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="css/site-bundle.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="Sample.Spa.Backend.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
