::deep > button {
    display: flex;
    gap: 5px;
    border: solid 1px gray;
    padding: 0 5px;
    margin: 0;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

::deep > .items {
    display: flex;
    flex-direction: column;

    label, a {
        display: flex;
        justify-content: space-between;
    }

    a {
        display: flex;
        justify-content: space-between;
    }
}
