@namespace ExtraDry.Blazor

<div class="@CssClasses">
    <InputText @bind-Value="@FreeTextFilter" placeholder="@Placeholder" @oninput="OnInput" @onfocusout="OnFocusOut" @onkeypress="OnKeyPress" />
</div>
