@namespace ExtraDry.Blazor
@typeparam TItem

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <Button Caption="Expand" CssClass="filter-expand" OnClick="DoFiltersExpand" />
    <Button Caption="Collapse" CssClass="filter-collapse" OnClick="DoFiltersCollapse" />
    @ChildContent
</div>
