@namespace ExtraDry.Blazor
@typeparam TItem

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <Button Caption="Expand" CssClass="filter-expand" @onclick="DoFiltersExpand" />
    <Button Caption="Collapse" CssClass="filter-collapse" @onclick="DoFiltersCollapse" />
    @ChildContent
</div>
