nav {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;

    ul {
        flex: 1 1 auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: all 0.5s;

        li {
            flex: 0 0 auto;
            list-style-type: none;

            ::deep img {
                width: 1.25rem;
                height: 1.25rem;
            }

            a {
                text-decoration: none;
            }
        }
    }
}
