@layer extra-dry {
  dry-table ::deep span.group {
    display: flex;
  }

  dry-table ::deep dry-tr {
    display: grid;
  }

    dry-table ::deep dry-tr dry-td {
      overflow: hidden;
      text-overflow: ellipsis;
    }

  dry-table ::deep dry-tr.state dry-td {
    align-items: center;
    justify-content: center;
  }

    dry-table ::deep dry-tr.state dry-td div {
      display: none;
    }

  dry-table ::deep dry-tr.state.loading div {
    display: flex;
    padding: var(--spacing-large);
  }

  dry-table ::deep dry-tr.state.full,
  dry-table ::deep dry-tr.state.changing,
  dry-table ::deep dry-tr.state.invalid-filter {
    display: none;
  }

  dry-table ::deep dry-tr.state.empty {
    /* background-color: blue; */
  }

  dry-table ::deep dry-tr.state.loading dry-td progress {
    display: initial;
  }
}
