@namespace ExtraDry.Blazor
@typeparam TItem

<div class="@CssClasses" @onclick:stopPropagation="true">
    @if(Item.IsGroup) {
       <Button Theme="ButtonTheme.Ghost" Icon="@Icon" Caption="@Caption" ShowCaption="false" CssClass="filter-expand" OnClick="DoFiltersExpandCollapse" />
    }
</div>
