::deep .reveal-2 {
    background-color: #f7f7f7;
    transition: height 0.5s;
    overflow: hidden;

    &.concealing, &.concealed {
        height: 0;
    }

    &.revealing, &.revealed {
        height: 50px;
    }
}

::deep .reveal-3 {
    background-color: #f7f7f7;
    transition: opacity 0.5s;

    &.concealing, &.concealed {
        opacity: 0%;
    }

    &.revealing, &.revealed {
        opacity: 100%;
    }
}