::deep .reveal-2 {
  background-color: #f7f7f7;
  transition: height 0.5s;
  overflow: hidden;
}
::deep .reveal-2.concealing, ::deep .reveal-2.concealed {
  height: 0;
}
::deep .reveal-2.revealing, ::deep .reveal-2.revealed {
  height: 50px;
}

::deep .reveal-3 {
  background-color: #f7f7f7;
  transition: opacity 0.5s;
}
::deep .reveal-3.concealing, ::deep .reveal-3.concealed {
  opacity: 0%;
}
::deep .reveal-3.revealing, ::deep .reveal-3.revealed {
  opacity: 100%;
}
