@namespace Blazor.ExtraDry

<div class="command-bar">
    @foreach (var command in description.MenuCommands) {
        <DryButton Command="@command" />
    }
    @if(description.ListSelectMode == ListSelectMode.Multiple) {
        foreach (var command in description.MultiContextCommands) {
            <DryButton Command="@command" />
        }
    }
    @if(description.ListSelectMode == ListSelectMode.Single) {
        @foreach (var command in description.ContextCommands) {
            <DryButton Command="@command" />
        }
    }
</div>

@code {

    [Parameter]
    public object ViewModel { get; set; }

    private ViewModelDescription description;

    protected override void OnInitialized()
    {
        description = new ViewModelDescription(ViewModel);
    }

}
