div.sections {
    background-color: azure;

    > section {
        margin: 0;
        width: 100%;
        padding: 0;
        background-color: blanchedalmond;
        display: flex;
        justify-content: center;

        > article {
            flex: 0 0 500px;
            display: flex;
            background-color: darkgray;

            div {
                background-color: silver;
                flex: 1 0 200px;
                width: 100%;
            }
        }
    }
}
