@inject IListService<Company> CompanyService;
@inject NavigationManager Navigation;

<h1>Companies</h1>

<DryPageQueryView>
    @*<TableMenu TItem="Company" />*@
    <DryFilter TItem="Company" />
    <DryTable TItem="Company" ViewModel="@this" ItemsService="@CompanyService" />
</DryPageQueryView>

@code {

    [Command(CommandContext.Default, Icon = "edit", PropertyName = nameof(Company.Title))]
    public void Edit(Company company)
    {
        Navigation.NavigateTo($"/companies/list/{company.Uuid}");
    }

}
