@inject IListService<Company> CompanyService;
@inject NavigationManager Navigation;

<h1>Companies</h1>

<DryErrorBoundary>
    <DryPageQueryView>
        @*<TableMenu TItem="Company" />*@
        <DryFilter TItem="Company" Affordance="" Icon="theme" ShowPreview="false" />
        <DryTable TItem="Company"  ViewModel="@this" ItemsService="@CompanyService" />
    </DryPageQueryView>
</DryErrorBoundary>

@code {
    [HyperLink(PropertyName = nameof(Company.Title))]
    public HyperLinkContext NavLink(Company company)
    {
        return new HyperLinkContext
        {
            Url = $"/admin/works/companies/list/{company.Uuid}",
            AltText = $"Edit company {company.Title}",
            DisplayClass = "company-edit-link"
        };
    }

    [Command(CommandContext.Default, Icon = "edit")]
    public void Edit(Company company)
    {
        Navigation.NavigateTo(NavLink(company)?.Url ?? string.Empty);
    }
}
