@inject IListService<Company> CompanyService;
@inject NavigationManager Navigation;

<h1>Companies</h1>

<DryErrorBoundary>
    <DryPageQueryView>
        @*<TableMenu TItem="Company" />*@
        <DryFilter TItem="Company" Affordance="" Icon="theme" ShowPreview="false" />
        <DryTable TItem="Company" ViewModel="@this" ItemsService="@CompanyService" />
    </DryPageQueryView>
</DryErrorBoundary>

@code {

    [Command(CommandContext.Default, Icon = "edit", PropertyName = nameof(Company.Title))]
    public void Edit(Company company)
    {
        Navigation.NavigateTo($"/companies/list/{company.Uuid}");
    }

    [Command]
    public void DoSomething(IEnumerable<Company> companies)
    {
        
    }
}
