@namespace ExtraDry.Blazor
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<div class="command-bar">
    @if(description != null) {
        @foreach (var command in description.MenuCommands) {
            <AuthorizeView Roles="@command.Roles">
                <DryButton Command="@command" />
            </AuthorizeView>
        }
        @if(description.ListSelectMode == ListSelectMode.Multiple) {
            foreach (var command in description.MultiContextCommands) {
                <DryButton Command="@command" />
            }
        }
        @if(description.ListSelectMode == ListSelectMode.Single) {
            @foreach (var command in description.ContextCommands) {
                <DryButton Command="@command" />
            }
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public object ViewModel { get; set; } = null!;

    private DecoratorInfo? description;

    protected override void OnInitialized()
    {
        description = new DecoratorInfo(ViewModel);
    }

}
