@namespace ExtraDry.Blazor
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<div class="command-bar">
    @if(Description != null) {
        @foreach(var command in AuthorizedMenuCommands) {
            <DryButton Command="@command" />
        }
        @if(Description.ListSelectMode == ListSelectMode.Multiple) {
            foreach (var command in AuthorizedMultiContextCommands) {
                <DryButton Command="@command" />
            }
        }
        @if(Description.ListSelectMode == ListSelectMode.Single) {
            @foreach (var command in AuthorizedContextCommands) {
                <DryButton Command="@command" />
            }
        }
    }
</div>
