@namespace ExtraDry.Blazor

<div class="command-bar">
    @if(description != null) {
        @foreach (var command in description.MenuCommands) {
            <DryButton Command="@command" />
        }
        @if(description.ListSelectMode == ListSelectMode.Multiple) {
            foreach (var command in description.MultiContextCommands) {
                <DryButton Command="@command" />
            }
        }
        @if(description.ListSelectMode == ListSelectMode.Single) {
            @foreach (var command in description.ContextCommands) {
                <DryButton Command="@command" />
            }
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public object ViewModel { get; set; } = null!;

    private ViewModelDescription? description;

    protected override void OnInitialized()
    {
        description = new ViewModelDescription(ViewModel);
    }

}
