@namespace ExtraDry.Blazor

<div class="@CssClasses">
    @foreach(var context in new CommandContext[] { CommandContext.Primary, CommandContext.Regular, CommandContext.Danger, CommandContext.Alternate }) {
        var commands = SelectCommands(context);
        if(commands.Any()) {
            var className = $"{context.ToString().ToLowerInvariant()}-buttons";
            <div class="@className">
                @foreach(var command in commands) { 
                    <DryButton Command="@command" Model="@Model" />
                }
            </div>
        }
    }
</div>
