@namespace ExtraDry.Blazor

<div class="buttons">
    @foreach(var context in new CommandContext[] { CommandContext.Primary, CommandContext.Alternate, CommandContext.Danger }) {
        var commands = SelectCommands(context);
        @if(commands.Any()) {
            var className = context.ToString().ToLowerInvariant();
            <div class="@className">
                @foreach(var command in commands) { 
                    <DryButton Command="@command" Model="@Target" PreClickCheck="@PreClickCheck" />
                }
            </div>
        }
    }
</div>
