@namespace ExtraDry.Blazor
@implements IDisposable

<button class="@Command.DisplayClass" @onclick="Click" disabled="@disabled">
    @if(ShowIcon) {
        <i class="@QualifiedIcon"></i>
    }
    @if(ShowCaption) {
        <span>@Command.Caption</span>
    }
</button>
