@namespace ExtraDry.Blazor
@typeparam TItem

<EditForm Model="this">
    <div class="filters @TypeSlug">
        <InputText @bind-Value="@FreeTextFilter" placeholder="@Placeholder" @oninput="OnInput" @onfocusout="OnFocusOut" @onkeypress="OnKeyPress" />
        @foreach (var property in ViewModelDescription.FilterProperties.Where(e => e.HasDiscreteValues))
        {
            Console.WriteLine($"Loading property: {property.Property.PropertyType.Name}");
            <DryFilterSelect Property="@property" FilterChanged="FilterChanged" />
        }
    </div>
</EditForm>
