// Default settings for a basic dialog box.
// Use CSS styles to override
section {
    /*    position: relative;

    ::deep div.curtain {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #ffffff7f;
    }

    ::deep div.expandable {
        position: absolute;
        top: 35px;
        right: 0;
    }

    div.caption {
    }

    div.form {
        background: white;
        border: solid 1px black;
    }*/
}
