// Default settings for a basic dialog box.
// Use CSS styles to override
section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000040;
    display: flex;

    > div {
        background-color: floralwhite; // Something odd but not terrible, encourage consumers to override styles
        margin: auto;
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        max-height: 854px;
        &:focus-visible {
            outline: none;
        }

        header {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;

            .title {
                flex: 1 1 auto;
            }

            .item.commands {
                flex: 0 0 auto;
                display: flex;
                align-items: center;

                button {
                    height: 40px;
                    font-size: 32px;
                    line-height: 20px;
                }
            }
        }

        .content {
            flex: 1 1 auto;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        footer {
            flex: 0 0 auto;

            button {
                width: 100%;
            }
        }
    }
}
