@namespace ExtraDry.Blazor

<h3>@Title</h3>
@foreach(var command in description.MenuCommands) {
    <button class="link" @onclick="command.ExecuteAsync">
        @if(!string.IsNullOrWhiteSpace(command.Icon)) {
            <i class="ms-Icon ms-Icon--@command.Icon"></i>
        }
        @command.Caption
    </button>
}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public object ViewModel { get; set; }

    private ViewModelDescription description;

    protected override void OnInitialized()
    {
        description = new ViewModelDescription(ViewModel);
    }

}
