@inject CrudService<Company> Service
@inject NavigationManager Navigation

<DialogBox>
    <h3>Company</h3>

    <DryForm ViewModel="@this" Model="@company" />
</DialogBox>

@code {

    [Parameter]
    public Guid Uuid { get; set; }

    private Company company;

    protected override async Task OnInitializedAsync()
    {
        company = await Service.RetrieveAsync(Uuid);
    }

    [Command(CommandContext.Primary, Name = "Save & Close")]
    public async Task SaveAsync(Company company)
    {
        await Service.UpdateAsync(Uuid, company);
        Navigation.NavigateTo("/companies");
    }

}
