@page "/companies"
@page "/companies/{CompanyUuid:guid}"
@inject IListService<Company> CompanyService;
@inject NavigationManager Navigation;

<DryPageQueryView>
    <TableMenu TItem="Company" />
    <DryTable TItem="Company" ViewModel="@this" ItemsService="@CompanyService" />
</DryPageQueryView>

@if (CompanyUuid != Guid.Empty)
{
    <DialogBox>
        <DryErrorBoundary>
            <CompanyEditDialog Uuid="@CompanyUuid" />
        </DryErrorBoundary>
    </DialogBox>
}

@{
    var count = 2;
    var size = "medium";
    if(count < 10) {
        size = "small";
    }
    if(count > 40) {
        size = "large";
    }
}
<DryMiniDialog @ref="MiniDialog" CssClass="@size" ShowCancelButton="false" OkButtonCaption="Save &amp; Close">
    @for(int i = 0; i < count; ++i) {
        <div>Huzzah</div>
    }
</DryMiniDialog>

@code {

    [Parameter]
    public Guid CompanyUuid { get; set; } = Guid.Empty;

    [Command(CommandContext.Alternate, Icon = "edit")]
    public void Edit(Company company)
    {
        Navigation.NavigateTo($"/companies/{company.Uuid}");
    }

    [Command(CommandContext.Alternate, Icon = "briefcase", Name = "Do It")]
    public void Pop()
    {
        MiniDialog.Toggle();
    }

    private DryMiniDialog MiniDialog { get; set; }

}
