<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sample.Client</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<!-- Replace navigation with a DryNavigation component
     If multiple navigation lists (e.g. both in `aside` and in `header`), share the ViewModel as an object beside `this`.
     Style globally or using `nav.className` specifier.
     See the methods decorated `[Navigation]` below for actual menu.
-->
<DryNavigation class="vertical" ViewModel="@this" />

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Inject]
    private NavigationManager Navigation { get; set; }

    // Simple navigation example that goes to root, name is inferred from the MethodName.
    // Property use used to define the navigation target, use an expression to change URL (e.g. in multi-tenant applications)
    [Navigation(Icon = "home")]
    public string Home => $"/";

    // Slightly more complicated, property name not suitable so override name in `Navigation` attribute.
    [Navigation("Companies", Icon = "people")]
    public string CompanyList => $"companies";

    // Finally for the most complicated cases, you can also navigate using a function instead of a URL.
    // Use when menu link is context sensitive or otherwise requires late binding.
    // Two issues, first is that the the order can't be inferred from position in file,
    // so use `Order` attribute to make it show up after above properties.
    // Also, as there is no HREF, use `ActiveMatch` to provide a unique subset of the URI to highlight when active.
    [Navigation(Icon = "person", Order = 10, ActiveMatch = "employees")]
    public void Employees() {
        Navigation.NavigateTo("employees"); 
    }

    [Navigation(Icon = "pencil")]
    public string Contents => $"contents";
}


