/* Styles for Improving the Swagger-UI API */

:root {

  --get-accent: #669C30; 
  --get-accent-light: #F2F9EC;
  --post-accent: #009BCC;   
  --post-accent-light: #E6F9FF;
  --delete-accent: #B92113;
  --delete-accent-light: #FDEAE8;
  --put-accent:  #CC7D00;
  --put-accent-light: #FFF5E6;
  --patch-accent: #CC7D00;
  --patch-accent-light: #FFF5E6; 

  --topbar: #fed434;
  --hyperlink-primary: #C25100;
  --hyperlink-primary-hover: #8F3C00;
  --hyperlink-secondary: #4990e2;
  --hyperlink-secondary-hover: #1f69c0;
  --button-primary: #FF6B00;
  --button-primary-hover: #C25100;
  --button-secondary: #333333;
  --white: #FFFFFF;
  --gray: #D7DADF;
  --light: #F8F9FA;
  --dark: #EEEFF1;
  --darker: #777777;

}

/* Brand UI */
body {
  background: var(--light);
}


/* Topbar */
.swagger-ui .topbar {
  padding: 0;
  background: var(--topbar);
}


/* Logo */
.swagger-ui img {
  content: url(/img/yellowjacket-logo.svg);
  margin: 8px 0;
  height: 32px;
}


/* Links */
.swagger-ui .info a {
  color: var(--hyperlink-primary);
}

  .swagger-ui .info a:hover {
    color: var(--hyperlink-primary-hover);
  }


/* Buttons */
.swagger-ui .btn {
    box-shadow: none;
}

  .swagger-ui .btn:hover {
    box-shadow: none;
  }


/* Primary button */
.swagger-ui .btn.execute {
  background: var(--button-primary);
  border: 0;
}

  .swagger-ui .btn.execute:hover {
    background: var(--button-primary-hover);
  }


/* Secondary button */
.swagger-ui .btn.authorize {
  color: var(--button-secondary);
  border-color: var(--button-secondary);
}

  .swagger-ui .btn.authorize svg {
    fill: var(--button-secondary);
  }


/* Definition */
.swagger-ui .topbar .download-url-wrapper .select-label {
  max-width: 400px;
}
  
  .swagger-ui .topbar .download-url-wrapper .select-label select {
    border: 0;
  }

  .swagger-ui .topbar .download-url-wrapper .select-label span {
    font-size: 12px;
    white-space: nowrap;
    color: var(--button-secondary);
  }
  
    
/* Move the 'Authorized' button to the top right */
.swagger-container > .swagger-ui {
  margin: 0 auto;
  max-width: 1460px;
  width: 100%;
}

  .swagger-container > .swagger-ui > div {
    display: grid;
    grid-template-columns: 1fr 180px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "information authorize" "wrapper wrapper";
  }

/* TODO: David: This is incorrect when there is no authorization, the button doesn't show and this blanks the whole page. */
.swagger-container > .swagger-ui > div > div {
  display: none;
}

  .swagger-container > .swagger-ui > div > .information-container {
    display: block;
    width: 100%;
    grid-area: information;
  }

  .swagger-container > .swagger-ui > div > .scheme-container {
    display: block;
    padding: 40px 0;
    grid-area: authorize;
    background: none;
    box-shadow: none;
  }

  .swagger-container > .swagger-ui > div > .wrapper:nth-child(2n) {
    display: block;
    width: 100%;
    grid-area: wrapper;
  }

  .swagger-ui .btn.authorize {
    margin-right: 0;
    white-space: nowrap;
  }

  .swagger-ui .btn.authorize span {
    padding-right: 10px;
  }

  @media only screen and (max-width: 768px)  {

    .swagger-container > .swagger-ui > div {
      display: block;
    }

    .swagger-container > .swagger-ui > div > .scheme-container  {
      padding: 0;
    }

    .swagger-ui .auth-wrapper {
      justify-content: flex-start;
    }

  }


/* Tidy up auth modal buttons */
.swagger-ui .auth-btn-wrapper {
  margin-top: 20px;
}

  .swagger-ui .auth-btn-wrapper .btn {
    margin: 0 5px;
  }


/* Re-align the operation block to have description (with markdown) below header and control */
.swagger-ui .opblock-tag {
  display: grid;
  grid-template-areas:
    "header controls"
    "description description";
  grid-template-columns: auto 30px;
  padding: 10px 0;
  margin: 30px 10px 10px 0;
  border: 0;
}

  .swagger-ui .opblock-tag > a {
      grid-area: header;
  }

  .swagger-ui .opblock-tag > small {
    grid-area: description;
    padding: 0;
    margin-top: 10px;
  }

  .swagger-ui .opblock-tag > button {
    grid-area: controls;
  }


/* Re-align the operation summary header to be two lines */
.swagger-ui .opblock .opblock-summary-control {
  display: grid;
  grid-template-columns: 60px auto 26px;
  gap: 0px 0px;
  grid-template-areas: "pill        route       chevron" 
                       "description description chevron";
}

.swagger-ui .opblock .opblock-summary-control .opblock-summary-method {
  grid-area: pill;
}

.swagger-ui .opblock .opblock-summary-control .opblock-summary-path {
  grid-area: route;
  max-width: initial; /* Bad wrapping in defaults, remove the cause. */
  font-size: 16px; /* Stop from dynamically sizing font as original */
}

.swagger-ui .opblock .opblock-summary-control .opblock-summary-description {
  grid-area: description;
  margin: 10px 1px 1px 1px;
}

.swagger-ui .opblock .opblock-summary-control .arrow {
  grid-area: chevron;
}
  

/* Swap authorized lock and accordian arrow icon positions */
.swagger-ui .opblock {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  border: 0;
  border-radius: 0;
}
  
  .swagger-ui .opblock .opblock-summary-control > .arrow {
    margin-right: 5px;
  }

  .swagger-ui .authorization__btn {
    position: absolute;
    right: 42px
  }


/* Change block tag spacing */
  .swagger-ui .opblock-tag:hover {
    background: none;
  }


/* Make this look like form by adding a bit more definition */
.opblock-body {
  padding-bottom: 2px;
}

.opblock-section, .execute-wrapper, .responses-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  background: var(--light);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

.opblock-section {
  margin-top: 20px;
  border-top: 1px solid var(--gray);
}

.responses-wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.swagger-ui table tbody tr td:first-of-type {
  padding: 10px 10px 0 0;
}

.swagger-ui .opblock .opblock-section-header {
  background: var(--dark);
  box-shadow: none;
}

  .swagger-ui .opblock .opblock-section-header h4 {
      color: var(--darker);
      text-transform: uppercase;
  }


/* Make buttons look like pills */
.swagger-ui .opblock .opblock-summary-method {
  min-width: 60px;
  text-shadow: none;
  border: 1px solid var(--button-secondary);
  height: 18px;
  border-radius: 14px;
  padding: 2px;
  width: 60px;
  font-size: 12px;
}


/* Adjust padding */
.swagger-ui .opblock .opblock-summary {
  padding: 0;
}

  .swagger-ui .opblock-summary-control {
    padding: 10px;
  }

  .swagger-ui .opblock-description-wrapper {
    margin: 0;
    padding: 20px 20px 0;
  }


/* Colors for GET methods, bold button, neutral background */
.swagger-ui .opblock.opblock-get {
  border-color: var(--gray);
  background: var(--white);
}

  .swagger-ui .opblock.opblock-get .opblock-summary-method {
    color: var(--get-accent-light);
    background: var(--get-accent);
    border-color: var(--get-accent);
  }

  .swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: var(--gray);
  }


/* Colors for DELETE methods, bold button, neutral background */
.swagger-ui .opblock.opblock-delete {
  border-color: var(--gray);
  background: var(--white);
}

  .swagger-ui .opblock.opblock-delete .opblock-summary-method {
    color: var(--delete-accent-light);
    background: var(--delete-accent);
    border-color: var(--delete-accent);
  }

  .swagger-ui .opblock.opblock-delete .opblock-summary {
    border-color: var(--gray);
  }


/* Colors for POST methods, bold button, neutral background */
.swagger-ui .opblock.opblock-post {
  border-color: var(--gray);
  background: var(--white);
}

  .swagger-ui .opblock.opblock-post .opblock-summary-method {
    color: var(--post-accent-light);
    background: var(--post-accent);
    border-color: var(--post-accent);
  }

  .swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: var(--gray);
  }


/* 
    Colors for PUT methods, bold button, neutral background 
*/
.swagger-ui .opblock.opblock-put {
  border-color: var(--gray);
  background: var(--white);
}

  .swagger-ui .opblock.opblock-put .opblock-summary-method {
    color: var(--put-accent-light);
    background: var(--put-accent);
    border-color: var(--put-accent);
  }

  .swagger-ui .opblock.opblock-put .opblock-summary {
    border-color: var(--gray);
  }

/* 
    Colors for PUT methods, bold button, neutral background 
*/
.swagger-ui .opblock.opblock-patch {
  border-color: var(--gray);
  background: var(--white);
}

  .swagger-ui .opblock.opblock-patch .opblock-summary-method {
    color: var(--patch-accent-light);
    background: var(--patch-accent);
    border-color: var(--patch-accent);
  }

  .swagger-ui .opblock.opblock-patch .opblock-summary {
    border-color: var(--gray);
  }

/* 
    The text of the code and the description don't align, remove unnecessary margin in Swashbuckle stylesheet. 
    But include spacing between P tags, except at the end...
*/
.swagger-ui .renderedMarkdown p {
  margin: 0 0 15px 0;
  line-height: 1.4em;
}

  .swagger-ui .renderedMarkdown :last-child {
    margin-bottom: 0;
  }

/* Add some extra space between responses to visually deliniate them. */
.swagger-ui .model-example {
  margin-bottom: 1em;
}

.swagger-ui .renderedMarkdown li {
  line-height: 1.75em;
}

/*
    Change the look of inline code blocks in rendered markdown.
*/
.swagger-ui .markdown code, .swagger-ui .renderedMarkdown code {
  border-radius: 3px;
  color: #61366e;
  padding: 1px 3px;
}


/* 
    All responses are application/json, don't shown rendering. 
*/
.swagger-ui section.response-controls {
  display: none;
}


/* 
    After using "Try it Out", hide the samples which are just clutter. 
    Multiple H4s, just want to remove the one that shows the sample responses.
*/
.swagger-ui .responses-inner > div > h4,
.swagger-ui .responses-inner div + table {
  display: none;
}


/* 
    When constructing a request, the only option is "application/json", don't show single select dropdown, show value more discretely.
*/
.swagger-ui .opblock .opblock-section-header h4 {
    flex: 0 0 auto;
    font-weight: bold;
}

.swagger-ui .opblock .opblock-section-header > label {
  margin: initial;
}

  .swagger-ui .opblock-section-header > label select {
    border: solid 0px transparent;
    box-shadow: none;
    font-size: 12px;
    min-width: initial;
    background: none;
    padding: 2px 0 0 0;
  }

  .swagger-ui .opblock-section-header > label::before {
    content: "(";
    margin-left: 10px;
  }

  .swagger-ui .opblock-section-header > label::after {
    content: ")";
  }


/* 
    The options section header is redundant when `c.EnableTryItOutByDefault();`, 
    remove Try It button, h4 underline, and close in the spacing. 
*/
.swagger-ui .opblock .opblock-section-header {
    min-height: initial;
}

  .swagger-ui .opblock .opblock-section-header .try-out {
    display:  none;
  }

  .swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after,
  .swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after,
  .swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span:after, 
  .swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span:after,
  .swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span:after {
    background-color: transparent;
  }


/* 
    Execute button is a massive banner, make it an actual button.  
    Align padding and make the "clear" button appear without changing execute button.
    Class on container changes from .execute-wrapper to .btn-group after click, so style there as well.
*/
.swagger-ui .btn-group,
.swagger-ui .execute-wrapper {
  text-align: left;
  display: block;
  padding: 0 20px 20px 20px;
}

  .swagger-ui .execute-wrapper .btn,
  .swagger-ui .btn-group .btn:first-child,
  .swagger-ui .btn-group .btn:last-child {
    border-radius: 5px;
    width: 120px;
    padding: 8px 24px;
    margin-right: 10px;
  }


/*
    The response from Try It Out lists headers last, breaks mental model, reverse that.
    Note: thead uses same class names so _must_ specify tbody.
*/
.swagger-ui .live-responses-table tbody .response-col_description {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}


/*
    Remove the hard outline around buttons and operations during expanding
*/
.swagger-ui .opblock-summary-control:focus {
  outline: none;
}


/*
    Links were introduced in OAS3.0 and are not supported by Swashbuckle but are by Swagger-UI.
    Removing the links column from the UI as it will always be "none".  
*/
.swagger-ui .response-col_links {
  display: none;
}


/*
    The schema model box doesn't match the width of the json example, align these so there
    is less 'jump' in the visual presentation when switching between them.
*/
.swagger-ui .model-box {
  width: 100%;
}


/*
    The schemas section at the bottom is redundant and a distraction, remove it.
    But, while doing so make sure there is some room at the bottom.
*/
.swagger-ui {
  margin-bottom: 40px;
}

  .swagger-ui section.models {
      display: none;  
  }


/*
    The redundant display of examples for 4xx codes distracts more than helps.
    Hide them in the UI, but ensure they're in the OpenAPI for AutoRest or other tools.
    Then override to display if the caption is clicked (partner JavaScript will toggle 'show-model').
    Also style the caption differently to make it look a bit like a link...
*/
.swagger-ui tr[data-code="400"] .response-col_description .response-col_description__inner p,
.swagger-ui tr[data-code="401"] .response-col_description .response-col_description__inner p,
.swagger-ui tr[data-code="403"] .response-col_description .response-col_description__inner p,
.swagger-ui tr[data-code="404"] .response-col_description .response-col_description__inner p {
  cursor: pointer;
  color: var(--hyperlink-secondary);
}

  .swagger-ui tr[data-code="400"] .response-col_description .response-col_description__inner p:hover,
  .swagger-ui tr[data-code="401"] .response-col_description .response-col_description__inner p:hover,
  .swagger-ui tr[data-code="403"] .response-col_description .response-col_description__inner p:hover,
  .swagger-ui tr[data-code="404"] .response-col_description .response-col_description__inner p:hover {
    text-decoration:underline;
  }

.swagger-ui tr[data-code="400"] .model-example,
.swagger-ui tr[data-code="401"] .model-example,
.swagger-ui tr[data-code="403"] .model-example,
.swagger-ui tr[data-code="404"] .model-example {
  display: none;
}

  .swagger-ui tr[data-code="400"].show-model .model-example,
  .swagger-ui tr[data-code="401"].show-model .model-example,
  .swagger-ui tr[data-code="403"].show-model .model-example,
  .swagger-ui tr[data-code="404"].show-model .model-example {
    display: block;
  }


/*
    The layout of the schema isn't great, introduce new fonts and spacing to make it look better.
    Requires a dozen related changes.
*/
/* Class name to monospace */
.swagger-ui .model .model-title {
  font-family: monospace;
}

/* Hide the expand/collapse button (extra specific to only get first one that collapses entire schema ) */
.swagger-ui .model-box > .model > span > button > .model-toggle:after {
  display: none;
}

/* Put some space between fields to logically group them. */
.swagger-ui table.model tr.property-row td {
  padding-bottom: 10px;
}

  /* Remove 'description' caption that looks like a json field */
  .swagger-ui table.model tr.property-row td:first-child {
    font-size: 13px;
  }

  .swagger-ui table.model tr.property-row .star {
    color: var(--delete-accent);
  }

/* Remove 'description' caption that looks like a json field */
.swagger-ui table.model tr.description td {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: sans-serif;
  color: var(--dark-gray);
}

  /* Remove 'description' caption that looks like a json field */
  .swagger-ui table.model tr.description td:first-child {
    visibility: hidden;
  }

/* Inside the list of description and constraints, adjust the description to the top, remove extra breaks, remove monospace */
.swagger-ui table.model span.prop {
  display: grid;
}

  .swagger-ui table.model span.prop > span br {
    display: none;
  }
  .swagger-ui table.model span.prop > div {
    font-family: sans-serif;
    grid-row-start: 1;
  }

.swagger-ui button.model-box-control:focus {
    outline: none;
}

/*
    Hide the ability to expand / collapse the tag-level instruction test.
    Ensure this is used with `c.DocExpansion(Swashbuckle.AspNetCore.SwaggerUI.DocExpansion.List);` in app.UseSwaggerUI in Startup.
*/
.swagger-ui .expand-operation {
    display: none;
}

.swagger-ui .opblock-tag-section {
    pointer-events: none;
}

    .swagger-ui .opblock-tag-section .operation-tag-content {
        pointer-events: all;
    }

/* 
    Provide some warning text to stop developers from skipping features.
*/
.opblock-description .renderedMarkdown h5 {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

/*
    Make 'Example Value' and 'Schema' appear more tab-like.  Colors are matched to panels which are stupid-hard to change.
    No semantic info on tabs, need to use nth-child positions like a pleb.
*/
div.model-example ul.tab {
    margin-bottom: 0;
}

  div.model-example ul.tab li.tabitem {
    margin-left: 3px;
    padding-right: 0;
  }

    .swagger-ui .tab li:first-of-type:after {
        visibility: hidden;
    }

    div.model-example ul.tab li.tabitem button {
      padding: 8px;
      margin-bottom: 0;
      border-radius: 4px 4px 0 0;
      width: 120px;
      text-align: center;
    }

    div.model-example ul.tab li.tabitem:nth-child(1) button {
      background-color: #333333;
      color: white;
    }

    div.model-example ul.tab li.tabitem:nth-child(2) button {
      background-color: #dfe0e1;
      color: #3b4151;
    }