/* Styles for Improving the Swagger-UI API */

:root {
  --get-accent: #46aa85;    /* Green for safety, immutable data. */
  --post-accent: #208fc9;   /* Blue, creates data but never destroys data. */
  --delete-accent: #c11e29; /* Red for danger, destroys data. */
  --put-accent: #715779;    /* Purple for update, creates data but also destroys data. */
  --patch-accent: #4873a1;  /* Blue-Purple, like update but likely to destroy less data. */

  --hyperlink: #096ea2;
  --light: #eeeeee;
  --white: #ffffff;
  --gray: #7f7f7f;
  --dark-gray: #484848;
}


/* Brand UI with our logo */
.swagger-ui img {
  content: url(/img/extradry-logo.svg);
  height: 30px;
  margin: 10px 0;
}


/* Make buttons wide enough that 'Delete' option isn't different size */
.swagger-ui .opblock .opblock-summary-method {
  min-width: 90px;
}


/* Colors for GET methods, bold button, neutral background */
.swagger-ui .opblock.opblock-get {
  border-color: var(--gray);
  background: var(--light);
}

  .swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: var(--get-accent);
  }

  .swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: var(--gray);
  }


/* Colors for DELETE methods, bold button, neutral background */
.swagger-ui .opblock.opblock-delete {
  border-color: var(--gray);
  background: var(--light);
}

  .swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: var(--delete-accent);
  }

  .swagger-ui .opblock.opblock-delete .opblock-summary {
    border-color: var(--gray);
  }


/* Colors for POST methods, bold button, neutral background */
.swagger-ui .opblock.opblock-post {
  border-color: var(--gray);
  background: var(--light);
}

  .swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: var(--post-accent);
  }

  .swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: var(--gray);
  }


/* 
    Colors for PUT methods, bold button, neutral background 
*/
.swagger-ui .opblock.opblock-put {
  border-color: var(--gray);
  background: var(--light);
}

  .swagger-ui .opblock.opblock-put .opblock-summary-method {
    background: var(--put-accent);
  }

  .swagger-ui .opblock.opblock-put .opblock-summary {
    border-color: var(--gray);
  }

/* 
    Colors for PUT methods, bold button, neutral background 
*/
.swagger-ui .opblock.opblock-patch {
  border-color: var(--gray);
  background: var(--light);
}

  .swagger-ui .opblock.opblock-patch .opblock-summary-method {
    background: var(--patch-accent);
  }

  .swagger-ui .opblock.opblock-patch .opblock-summary {
    border-color: var(--gray);
  }

/* 
    The text of the code and the description don't align, remove unnecessary margin in Swashbuckle stylesheet. 
    But include spacing between P tags, except at the end...
*/
.swagger-ui .renderedMarkdown p {
  margin: 0 0 15px 0;
}

  .swagger-ui .renderedMarkdown :last-child {
    margin-bottom: 0;
  }

/* Add some extra space between responses to visually deliniate them. */
.swagger-ui .model-example {
  margin-bottom: 1em;
}

.swagger-ui .renderedMarkdown li {
  line-height: 1.75em;
}

/*
    Change the look of inline code blocks in rendered markdown.
*/
.swagger-ui .markdown code, .swagger-ui .renderedMarkdown code {
  border-radius: 3px;
  color: #61366e;
  padding: 1px 3px;
}


/* 
    All responses are application/json, don't shown rendering. 
*/
.swagger-ui section.response-controls {
  display: none;
}


/* 
    After using "Try it Out", hide the samples which are just clutter. 
    Multiple H4s, just want to remove the one that shows the sample responses.
*/
.swagger-ui .responses-inner > div > h4,
.swagger-ui .responses-inner div + table {
  display: none;
}


/* 
    When constructing a request, the only option is "application/json", don't show single select dropdown, show value more discretely.
*/
.swagger-ui .opblock .opblock-section-header h4 {
    flex: 0 0 auto;
    font-weight: bold;
}

.swagger-ui .opblock .opblock-section-header > label {
  margin: initial;
}

  .swagger-ui .opblock-section-header > label select {
    border: solid 0px transparent;
    box-shadow: none;
    font-size: 12px;
    min-width: initial;
    background: none;
    padding: 2px 0 0 0;
  }

  .swagger-ui .opblock-section-header > label::before {
    content: "(";
    margin-left: 10px;
  }

  .swagger-ui .opblock-section-header > label::after {
    content: ")";
  }


/* 
    The options section header is redundant when `c.EnableTryItOutByDefault();`, 
    remove Try It button, h4 underline, and close in the spacing. 
*/
    .swagger-ui .opblock .opblock-section-header {
    min-height: initial;
}

  .swagger-ui .opblock .opblock-section-header .try-out {
    display:  none;
  }

.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span:after, 
.swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span:after {
  background-color: transparent;
}


/* 
    Execute button is a massive banner, make it an actual button.  
    Align padding and make the "clear" button appear without changing execute button.
    Class on container changes from .execute-wrapper to .btn-group after click, so style there as well.
*/
.swagger-ui .btn-group,
.swagger-ui .execute-wrapper {
  text-align: left;
  display: block;
  padding: 0 20px 20px 20px;
}

  .swagger-ui .execute-wrapper .btn,
  .swagger-ui .btn-group .btn:first-child,
  .swagger-ui .btn-group .btn:last-child {
    border-radius: 5px;
    width: 120px;
    padding: 8px 24px;
    margin-right: 10px;
  }

/*
    The response from Try It Out lists headers last, breaks mental model, reverse that.
    Note: thead uses same class names so _must_ specify tbody.
*/
.swagger-ui .live-responses-table tbody .response-col_description {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}


/*
    Remove the hard outline around buttons and operations during expanding
*/
.swagger-ui .opblock-summary-control:focus {
  outline: none;
}


/*
    Links were introduced in OAS3.0 and are not supported by Swashbuckle but are by Swagger-UI.
    Removing the links column from the UI as it will always be "none".  
*/
.swagger-ui .response-col_links {
  display: none;
}


/*
    The schema model box doesn't match the width of the json example, align these so there
    is less 'jump' in the visual presentation when switching between them.
*/
.swagger-ui .model-box {
  width: 100%;
}

/*
    The schemas section at the bottom is redundant and a distraction, remove it.
    But, while doing so make sure there is some room at the bottom.
*/
.swagger-ui {
  margin-bottom: 40px;
}
.swagger-ui section.models {
    display: none;  
}

/*
    The redundant display of examples for 4xx codes distracts more than helps.
    Hide them in the UI, but ensure they're in the OpenAPI for AutoRest or other tools.
    Then override to display if the caption is clicked (partner JavaScript will toggle 'show-model').
    Also style the caption differently to make it look a bit like a link...
*/
.swagger-ui tr[data-code="400"] .response-col_description .response-col_description__inner p,
.swagger-ui tr[data-code="401"] .response-col_description .response-col_description__inner p,
.swagger-ui tr[data-code="403"] .response-col_description .response-col_description__inner p,
.swagger-ui tr[data-code="404"] .response-col_description .response-col_description__inner p {
  cursor: pointer;
  color: var(--hyperlink);
}

  .swagger-ui tr[data-code="400"] .response-col_description .response-col_description__inner p:hover,
  .swagger-ui tr[data-code="401"] .response-col_description .response-col_description__inner p:hover,
  .swagger-ui tr[data-code="403"] .response-col_description .response-col_description__inner p:hover,
  .swagger-ui tr[data-code="404"] .response-col_description .response-col_description__inner p:hover {
    text-decoration:underline;
  }

.swagger-ui tr[data-code="400"] .model-example,
.swagger-ui tr[data-code="401"] .model-example,
.swagger-ui tr[data-code="403"] .model-example,
.swagger-ui tr[data-code="404"] .model-example {
  display: none;
}

  .swagger-ui tr[data-code="400"].show-model .model-example,
  .swagger-ui tr[data-code="401"].show-model .model-example,
  .swagger-ui tr[data-code="403"].show-model .model-example,
  .swagger-ui tr[data-code="404"].show-model .model-example {
    display: block;
  }


/*
    The layout of the schema isn't great, introduce new fonts and spacing to make it look better.
    Requires a dozen related changes.
*/
/* Class name to monospace */
.swagger-ui .model .model-title {
  font-family: monospace;
}

/* Hide the expand/collapse button (extra specific to only get first one that collapses entire schema ) */
.swagger-ui .model-box > .model > span > button > .model-toggle:after {
  display: none;
}

/* Put some space between fields to logically group them. */
.swagger-ui table.model tr.property-row td {
  padding-bottom: 10px;
}

  /* Remove 'description' caption that looks like a json field */
  .swagger-ui table.model tr.property-row td:first-child {
    font-size: 13px;
  }

  .swagger-ui table.model tr.property-row .star {
    color: var(--delete-accent);
  }

/* Remove 'description' caption that looks like a json field */
.swagger-ui table.model tr.description td {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: sans-serif;
  color: var(--dark-gray);
}

  /* Remove 'description' caption that looks like a json field */
  .swagger-ui table.model tr.description td:first-child {
    visibility: hidden;
  }

/* Inside the list of description and constraints, adjust the description to the top, remove extra breaks, remove monospace */
.swagger-ui table.model span.prop {
  display: grid;
}
  .swagger-ui table.model span.prop > span br {
    display: none;
  }
  .swagger-ui table.model span.prop > div {
    font-family: sans-serif;
    grid-row-start: 1;
  }

.swagger-ui button.model-box-control:focus {
    outline: none;
}

/*

*/